<section class="card">
    <h2>{{ isEditing ? 'Editar Tarea' : 'Nueva tarea' }}</h2>

    <form [formGroup]="form" (ngSubmit)="save()">

        @if (loading) {
        <p>Guardando...</p>
        }

        @if (errorMsg) {
        <p class="error">{{ errorMsg }}</p>
        }
        <label>
            Nombre
            <input class="input" formControlName="name" />
        </label>

        @if (form.controls.name.touched && form.controls.name.invalid) {
        <div class="error">
            El nombre es obligatorio y debe tener al menos 3 caracteres.
        </div>
        }

        <label>
            Ciudad
            <input class="input" formControlName="city" />
        </label>

        @if (form.controls.city.touched && form.controls.city.invalid) {
        <div class="error">
            La ciudad es obligatoria.
        </div>
        }

        <div class="row">
            <button class="btn btn-primary" type="submit">{{ isEditing ? 'Actualizar' : 'Guardar' }}</button>
            <button class="btn btn-ghost" type="button" (click)="cancel()">Cancelar</button>
        </div>
    </form>
</section>